<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Surf LaMMA</title>
    <link rel="shortcut icon" type="image/png" href="./surf.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Surf LaMMA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-geo-alt"></i> Live
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                    href="https://www.citysurf.it/it/meteo/centralina-meteo-calambrone/"
                                    target="_blank">Calambrone <i class="bi bi-graph-up"></i> <i
                                        class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.livornometeo.it" target="_blank">Livorno <i
                                        class="bi bi-graph-up"></i> <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://app.weathercloud.net/d3336517576#wind"
                                    target="_blank">Tre ponti <i class="bi bi-graph-up"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.ilmolettodiantignano.it/webcam"
                                    target="_blank">Moletto di Antignano <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.cvantignano.it/web/webcam-antignano-livorno.html"
                                    target="_blank">CV Antignano <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item"
                                    href="https://stazioni4.soluzionimeteo.it/livorno/indexDesktop.php"
                                    target="_blank">Calignaia <i class="bi bi-graph-up"></i> <i
                                        class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.skylinewebcams.com/en/webcam/italia/toscana/livorno/castiglioncello-livorno.html"
                                    target="_blank">Quercetano <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.skylinewebcams.com/it/webcam/italia/toscana/livorno/rosignano-solvay.html"
                                    target="_blank">Lillatro <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="http://www.circolonauticolillatro.it/V2016a/web-cam/"
                                    target="_blank">Lillatro 2 <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.rosignanometeo.it" target="_blank">Rosignano
                                    <i class="bi bi-graph-up"></i> <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.hoteliginepri.it/webcam/"
                                    target="_blank">Donoratico <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.whatsupcams.com/it/webcams/italia/toscana/san-vincenzo-it/bagno-venere-talani-livecam-san-vincenzo-livorno/"
                                    target="_blank">San Vincenzo <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.technostorm.it/webcambaratti/"
                                    target="_blank">Baratti <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.meteosalivoli.altervista.org/"
                                    target="_blank">Salivoli <i class="bi bi-graph-up"></i></a></li>
                            <li><a class="dropdown-item" href="https://oltreleali.org/meteo-salivoli/"
                                    target="_blank">Salivoli 2 <i class="bi bi-graph-up"></i></i></a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.rivadelsole.it/it/webcam/webcam-spiaggia-villaggio.html"
                                    target="_blank">Castiglione <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.kitesangelsbeach.it/it/live-on-beach/#top"
                                    target="_blank">Marina di Grosseto <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.velapassion.it/webcam-talamone.html"
                                    target="_blank">Talamone <i class="bi bi-webcam"></i></a></li>
                            <li><a class="dropdown-item" href="https://www.velapassion.it/velapassion-meteo.html"
                                    target="_blank">Talamone 2 <i class="bi bi-graph-up"></i></i></a></li>
                            <li><a class="dropdown-item" href="" target="_blank"></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-wind"></i> Windy
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.584/10.295/arome/wind?arome,gust,43.508,10.295,11,p:kitespots"
                                    target="_blank">Calambrone</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.511/10.318/arome/wind?arome,gust,43.485,10.368,11,p:kitespots"
                                    target="_blank">Tre ponti</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.460/10.370/arome/wind?arome,gust,43.384,10.369,11,p:kitespots"
                                    target="_blank">Quercianella</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.379/10.433/arome/wind?arome,gust,43.225,10.434,10,p:kitespots"
                                    target="_blank">Lillatro</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.339/10.455/arome/wind?arome,gust,43.186,10.454,10,p:kitespots"
                                    target="_blank">Vada</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.181/10.536/arome/wind?arome,gust,43.028,10.535,10,p:kitespots"
                                    target="_blank">Donoratico</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.095/10.542/arome/wind?arome,gust,42.770,10.845,9,p:kitespots"
                                    target="_blank">San Vincenzo</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/43.001/10.501/arome/wind?arome,gust,42.770,10.845,9,p:kitespots"
                                    target="_blank">Baratti</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/42.953/10.593/arome/wind?arome,gust,42.840,10.605,11,p:kitespots"
                                    target="_blank">Perelli</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/42.953/10.683/arome/wind?arome,gust,42.876,10.683,11,p:kitespots"
                                    target="_blank">Carbonifera</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/42.890/10.785/arome/wind?arome,gust,42.796,10.710,11,p:kitespots"
                                    target="_blank">Puntone</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/42.811/10.761/arome/wind?arome,gust,42.734,10.761,11,p:kitespots"
                                    target="_blank">Punta ala</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.windy.com/42.761/10.873/arome/wind?arome,gust,42.788,10.711,11,p:kitespots"
                                    target="_blank">Castiglione</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="lamma-surf">
        <div class="row">
            <div class="col-md-6" v-if="$route.params.model === 'ww305ecm'">
                <img v-if="!period" class="img-fluid mx-auto d-block"
                    v-bind:src="'http://www.lamma.rete.toscana.it/models/' + $route.params.model + '/last/swh.' + area + '.' + $route.params.tick + '.png'"
                    alt="Image not available" />

                <img v-if="period" class="img-fluid mx-auto d-block"
                    v-bind:src="'http://www.lamma.rete.toscana.it/models/' + $route.params.model + '/last/mwp.' + area + '.' + $route.params.tick + '.png'"
                    alt="Image not available" />
            </div>
            <div class="col-md-6" v-if="$route.params.model === 'ww305ecm'">
                <img v-if="!gust" class="img-fluid mx-auto d-block"
                    v-bind:src="'http://www.lamma.rete.toscana.it/models/' + $route.params.model + '/last/wind10.' + area + '.' + $route.params.tick + '.png'"
                    alt="Image not available" />

                <img v-if="gust" class="img-fluid mx-auto d-block"
                    v-bind:src="'http://www.lamma.rete.toscana.it/models/' + $route.params.model + '/last/windgust.' + area + '.' + $route.params.tick + '.png'"
                    alt="Image not available" />
            </div>
            <div class="col-md-6 offset-md-3" v-if="$route.params.model === 'mol01ecm'">
                <img v-if="!gust" class="img-fluid mx-auto d-block"
                    v-bind:src="'http://www.lamma.rete.toscana.it/models/' + $route.params.model + '/last/wind10.' + area + '.' + $route.params.tick + '.png'"
                    alt="Image not available" />

                <img v-if="gust" class="img-fluid mx-auto d-block"
                    v-bind:src="'http://www.lamma.rete.toscana.it/models/' + $route.params.model + '/last/gust.' + area + '.' + $route.params.tick + '.png'"
                    alt="Image not available" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-bind:class="{disabled: $route.params.tick <= 12}"><button type="button"
                                class="page-link" v-on:click="step(-12)">&lt;&lt;</button></li>
                        <li class="page-item" v-bind:class="{disabled: $route.params.tick <= 6}"><button type="button"
                                class="page-link" v-on:click="step(-6)">&lt;</button></li>
                        <li class="page-item" v-bind:class="{disabled: $route.params.tick <= 1}"><button type="button"
                                class="page-link" v-on:click="step(-1)">Previous</button></li>
                        <li class="page-item"><button type="button" class="page-link"
                                v-on:click="$router.push('1')">Reset</button></li>
                        <li class="page-item"><button type="button" class="page-link" v-on:click="step(1)">Next</button>
                        </li>
                        <li class="page-item"><button type="button" class="page-link" v-on:click="step(6)">&gt;</button>
                        </li>
                        <li class="page-item"><button type="button" class="page-link"
                                v-on:click="step(12)">&gt;&gt;</button></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <button v-if="$route.params.model === 'ww305ecm'" type="button" class="btn btn-secondary"
                        v-on:click="swap_model()">Wind HR</button>
                    <button v-if="$route.params.model === 'mol01ecm'" type="button" class="btn btn-primary"
                        v-on:click="swap_model()">Wind HR</button>

                    <button v-if="!period && $route.params.model === 'ww305ecm'" type="button" class="btn btn-secondary"
                        v-on:click="toggle_period()">Period</button>
                    <button v-if="period && $route.params.model === 'ww305ecm'" type="button" class="btn btn-primary"
                        v-on:click="toggle_period()">Period</button>

                    <button v-if="!gust" type="button" class="btn btn-secondary"
                        v-on:click="toggle_gust()">Gust</button>
                    <button v-if="gust" type="button" class="btn btn-primary" v-on:click="toggle_gust()">Gust</button>

                    <button v-if="!zoom && $route.params.model === 'ww305ecm'" type="button" class="btn btn-secondary"
                        v-on:click="toggle_zoom()">Zoom
                        in</button>
                    <button v-if="zoom && $route.params.model === 'ww305ecm'" type="button" class="btn btn-primary"
                        v-on:click="toggle_zoom()">Zoom
                        in</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>Images provided by <a target="_blank"
                        href="http://www.lamma.rete.toscana.it/meteo/modelli/vento-e-mare">LaMMA sea and wind
                        models</a>.
                </div>
                <div>
                    For suggestions and problems, drop a message to <span class="rewind">ti.orebil _ta_ nnamerdna</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3P">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3P" aria-expanded="false" aria-controls="collapse3P">
                                Tre ponti
                            </button>
                        </h2>
                        <div id="collapse3P" class="accordion-collapse collapse" aria-labelledby="heading3P"
                            data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_48999_100_1670408121149"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingArome">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseArome" aria-expanded="false" aria-controls="collapseArome">
                                Tre ponti (Arome-HD)
                            </button>
                        </h2>
                        <div id="collapseArome" class="accordion-collapse collapse" aria-labelledby="headingArome"
                            data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_48999_52_1740142617593"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingQuercianella">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseQuercianella" aria-expanded="false"
                                aria-controls="collapseQuercianella">
                                Quercianella
                            </button>
                        </h2>
                        <div id="collapseQuercianella" class="accordion-collapse collapse"
                            aria-labelledby="headingQuercianella" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_49000_100_1694415054160"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingDonoratico">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseDonoratico" aria-expanded="false"
                                aria-controls="collapseDonoratico">
                                Marina di Donoratico
                            </button>
                        </h2>
                        <div id="collapseDonoratico" class="accordion-collapse collapse"
                            aria-labelledby="headingDonoratico" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_49005_100_1694415252564"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSanvi">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSanvi" aria-expanded="false" aria-controls="collapseSanvi">
                                San Vincenzo
                            </button>
                        </h2>
                        <div id="collapseSanvi" class="accordion-collapse collapse" aria-labelledby="headingSanvi"
                            data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_49006_100_1740141738824"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingBaratti">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBaratti" aria-expanded="false" aria-controls="collapseBaratti">
                                Baratti
                            </button>
                        </h2>
                        <div id="collapseBaratti" class="accordion-collapse collapse" aria-labelledby="headingBaratti"
                            data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_49008_100_1740901537473"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPerelli">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePerelli" aria-expanded="false" aria-controls="collapsePerelli">
                                Perelli
                            </button>
                        </h2>
                        <div id="collapsePerelli" class="accordion-collapse collapse" aria-labelledby="headingPerelli"
                            data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_49009_100_1740142045133"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCastiglione">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCastiglione" aria-expanded="false"
                                aria-controls="collapseCastiglione">
                                Castiglione della Pescaia
                            </button>
                        </h2>
                        <div id="collapseCastiglione" class="accordion-collapse collapse"
                            aria-labelledby="headingCastiglione" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_719383_100_1740142339475"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTalamoneen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTalamoneen" aria-expanded="false"
                                aria-controls="collapseTalamoneen">
                                Talamone
                            </button>
                        </h2>
                        <div id="collapseTalamoneen" class="accordion-collapse collapse"
                            aria-labelledby="headingTalamoneen" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div id="wg_fwdg_49015_100_1740383762628"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=48999", "m=100", "mw=84", "uid=wg_fwdg_48999_100_1670408121149", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=336", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=49000", "m=100", "mw=84", "uid=wg_fwdg_49000_100_1694415054160", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=336", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=49005", "m=100", "mw=84", "uid=wg_fwdg_49005_100_1694415252564", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=49006", "m=100", "mw=84", "uid=wg_fwdg_49006_100_1740141738824", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=49009", "m=100", "mw=84", "uid=wg_fwdg_49009_100_1740142045133", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=719383", "m=100", "mw=84", "uid=wg_fwdg_719383_100_1740142339475", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=48999", "m=52", "mw=84", "uid=wg_fwdg_48999_52_1740142617593", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "p=WINDSPD,GUST,MWINDSPD,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,TCDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=49015", "m=100", "mw=84", "uid=wg_fwdg_49015_100_1740383762628", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script>
        (function (window, document) {
            var loader = function () {
                var arg = ["s=49008", "m=100", "mw=84", "uid=wg_fwdg_49008_100_1740901537473", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=en", "idbs=1", "ts=2", "p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWPER1,SWDIR1,SWELL2,SWPER2,SWDIR2,TMP,WCHILL,CDC,APCP1s,RATING"];
                var script = document.createElement("script");
                var tag = document.getElementsByTagName("script")[0];
                script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>